@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Padauk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body { 
    background:black;
    font-size:60px;
    padding: 5mm;
    color:white;
    font-family: 'Kdam Thmor Pro' 
     }

    
    header {
        background-color:rgba(1, 1, 158, 0.212);
      display:flex;
      align-items: center;
      border-radius:50px;
      font-family: 'Press Start 2P'
    }
    #logo{
        width:  9.50cm;
        height:  9.50cm;
        border-radius:100%;
        font-size:330px;
       margin-left:10mm;
       margin-right:1cm;
        border-bottom-style: solid;
       border-color:white;
        border-width:5mm;
      }
    #lista button {
        background-color:rgb(19, 162, 223);
        border-radius: 50px;
        display: block;
        width : 100%; 
        font-size:50px;
        padding:5cm;
        color:black;
        border-style:none;
        border-bottom-style: solid;
        border-color:white;
         border-width: 5mm;
         font-family: 'Kdam Thmor Pro' 
       }
      #lista button:hover{
        background-color:rgb(19, 19, 204);
      }
       

    
    .datos-generales{
      padding-left:3cm;
       border-radius:50px;
     }
       
    a{
      color:aqua;
     }

    #h{
      display: flex;
    }
  .alg{
      width: 70cm;
      height:40cm;
      margin-left: 15cm;
  }
 #contrastante {
  font-size:100px;
  color:red;
text-align: center;
 }
 
 .caja{
text-align: center;
font-size: 60px;
margin:10mm;
border-style: solid;
color:darkblue;
background-color:darkblue;
border-radius: 50px;
font-family: 'Padauk'
 }
 .caja img{
  width: 18cm;
  height:18cm;
  border-radius: 50px;
}
#d{
display: flex;
}
#final{
  background-color:rgba(1, 1, 158, 0.212); 
  border-radius: 50px;
 }
 #fondo{
  background-color:rgba(1, 1, 158, 0.212);
  border-radius:50px;
 }
  .caja a{
    text-decoration: none;

}
.c{
  color:black
}